header {
  border: 1px;
  color: pink;
}

p {
  margin: 25px;
}
a {
  margin: 10px;
}

.disabled1 {
  color: grey;
}
.disabled {
  color: purple;
}
.active {
  color: yellow;
}

.imred {
  color: red;
}
.imblue {
  color: blue;
}
.imred2 {
  background-color: red;
}
.imblue2 {
  background-color: blue;
}
.childomine {
  border: 1px;
}
